.calculatorBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

.form {
  border: 1px solid #2c3e50;
  color: #2c3e50;
  border-radius: 24px;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
  margin-bottom: 2em;
}

.label {
  font-weight: bold;
}

.input {
  border: 1px solid #2c3e50;
  border-radius: 24px;
  padding: 0.5em;
  text-align: center;
}

.input:focus { outline: none; }

.result {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultText {
  background-color: #9b59b6;
  color: #fff;
  border-radius: 12px;
  padding: 0.5em;
  margin: 0.5em;
}

.table {
  padding: 0.5em;
  border-collapse: collapse;
}

.table thead th {
  background-color: #8e44ad;
  color: #fff;
  text-align: center;
  padding: 0.5em;
}

.table tbody td {
  color: #2c3e50;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid #2c3e50;
}

.hightlitter * {
  background-color: #dec5e9
}